<div class="card mx-auto mt-5 w-50 text-white bg-dark">
    <h5 class="card-header font-weight-bold">
        Active tickets
        <button class="btn btn-success float-right font-weight-bold" (click)="showCreator()">+ New Ticket</button>
    </h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item bg-dark">
            Blood analysis<span class="btn btn-info float-right">14/12/2019 16:04</span><span class="btn btn-success mr-2 float-right">Open</span>
        </li>
        <li class="list-group-item bg-dark">
            Routine checkup<span class="btn btn-info float-right">14/01/2020 07:43</span><span class="btn btn-warning mr-2 float-right">Waiting for Doctor reply</span>
        </li>
        <li class="list-group-item bg-dark">
            Medical leave<span class="btn btn-info float-right">14/04/2020 22:54</span><span class="btn btn-warning mr-2 float-right">Waiting for Doctor reply</span>
        </li>
    </ul>
</div>