<div class="card mx-auto mt-5 w-50 text-white bg-dark">
    <h5 class="card-header font-weight-bold">
        Today's Appointments
        <a href="#" class="btn btn-info float-right font-weight-bold">Show more...</a>
    </h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item bg-dark">
            <span class="badge badge-info mr-2">08:00 - 09:00</span>John Green<a href="#" class="btn btn-info float-right">Details</a>
        </li>
        <li class="list-group-item bg-dark">
            <span class="badge badge-info mr-2">09:00 - 11:00</span>Charles Bukowski<a href="#" class="btn btn-info float-right">Details</a>
        </li>
        <li class="list-group-item bg-dark">
            <span class="badge badge-info mr-2">11:00 - 13:00</span>F. Scott Fitzgerald<a href="#" class="btn btn-info float-right">Details</a>
        </li>
    </ul>
  </div>