<div class="card mx-auto mt-5 mb-5 w-50">
    <div class="card-header">
        <b>Today's Appointments</b>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item ">
            <span class="badge badge-info mr-2">08:00 - 09:00</span>
            John Green
            <a href="#" class="btn btn-info">Details</a>
        </li>
        <li class="list-group-item">
            <span class="badge badge-info mr-2">09:00 - 11:00</span>
            Charles Bukowski
            <a href="#" class="btn btn-info">Details</a>
        </li>
        <li class="list-group-item">
            <span class="badge badge-info mr-2">11:00 - 13:00</span>
            F. Scott Fitzgerald
            <a href="#" class="btn btn-info">Details</a>
        </li>
    </ul>
  </div>