<div class="card mx-auto mt-3 w-50 text-white bg-dark">
    <h5 class="card-header font-weight-bold">Inbox</h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item bg-dark">
            John Green<span class="btn btn-info float-right">14/04/2020 22:54</span><span class="btn btn-success mr-2 float-right">Open</span>
        </li>
        <li class="list-group-item bg-dark">
            Charles Bukowski<span class="btn btn-info float-right">14/04/2020 22:54</span><span class="btn btn-danger mr-2 float-right">Closed</span>
        </li>
        <li class="list-group-item bg-dark">
            F. Scott Fitzgerald<span class="btn btn-info float-right">14/04/2020 22:54</span><span class="btn btn-warning mr-2 float-right">Waiting for Doctor reply</span>
        </li>
    </ul>
  </div>