<div class="card mx-auto mt-3 w-50 text-white bg-dark">
    <h5 class="card-header font-weight-bold">
        Past tickets
        <a href="#" class="btn btn-info float-right font-weight-bold">Show more...</a>
    </h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item bg-dark">
            Routine checkup<span class="btn btn-info float-right">14/07/2019 16:04</span><span class="btn btn-danger mr-2 float-right">Closed</span>
        </li>
        <li class="list-group-item bg-dark">
            Blood analysis<span class="btn btn-info float-right">10/06/2019 07:43</span><span class="btn btn-danger mr-2 float-right">Closed</span>
        </li>
        <li class="list-group-item bg-dark">
            Routine checkup<span class="btn btn-info float-right">03/02/2019 22:54</span><span class="btn btn-danger mr-2 float-right">Closed</span>
        </li>
    </ul>
  </div>